/********************************************
*
*       8==8==8==8==8==8==8==8==8==8
*
*               styleSWEET
*           !BY BRENDAN TIMMONS!
*
*       8==8==8==8==8==8==8==8==8==8
*
********************************************/
/* ================================================================= */
/* = Eric Meyer's Reset: http://meyerweb.com/eric/tools/css/reset/ = */
/* ================================================================= */

/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}



.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.clearfix {display: inline-table;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
* html .clearfix {
height: 1%;
}
/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; overflow:hidden;}
#cboxLoadedContent{overflow:visible !important;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box;}

/*
    Example user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/
#cboxOverlay{background: #555;}
#colorbox{}
    #cboxContent{background: #F8F8F8;}
        #cboxLoadedContent{padding: 20px 24px;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxClose{position:absolute; bottom: 2px; right:15px;}


/* For IE */
@font-face {
  font-family: 'DinLight';
  src: url('../extras/dinlig-webfont.eot');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DinLight';
  src: url('../extras/dinlig-webfont.woff') format('woff'), url('../extras/dinlig-webfont.ttf') format('truetype'), url('../extras/dinlig-webfont.svg#webfont71lN22lZ') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ClarendonBold';
  src: url('../extras/clarendonltstd-webfont.eot');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ClarendonBold';
  src: url('../extras/clarendonltstd-webfont.eot');
  src: local('?'), url('../extras/clarendonltstd-webfont.woff') format('woff'), url('../extras/clarendonltstd-webfont.ttf') format('truetype'), url('../extras/clarendonltstd-webfont.svg#webfontAul4MLzM') format('svg');
  font-weight: bold;
  font-style: normal;
}
/********************************************
          GLOBAL LAYOUT STYLES
********************************************/
html{background: #004d83;}
body{
  background: #fefefe;
  color: #000000;
  font: 14px/16px arial, verdana, sans-serif;
}
.container{
  display: block;
  margin: 0 auto;
  position: relative;
  width:  940px;
}
#header{
  height: 90px;
  padding: 10px 0 0 0;
  z-index: 21;
}
#logo{
  height: 145px;
  left: -1px;
  position: absolute;
  top: 31px;
  width: 189px;
  z-index: 20;
}
#footer{
  background: #004D83 url(../images/core/footer-bg.gif) repeat-x;
  color: #fff;
  display: block;
  height: 100px;
  margin: 80px 20px 0 0;
  padding: 30px 0 0 0;
}
#home-page #footer{margin: -18px 0 0 0;}
.clear{clear: both;}
.right{display: inline; float: right;}
.left{display: inline; float: left;}
.collapse { display:none; }



/********************************************
          TYPOGRAPHY STYLES
********************************************/
h1{font: bold 24px/24px arial, verdana, sans-serif; margin: 0 0 20px 0;}
h2{color: #545352; font: bold 16px/16px Arial, Verdana, Sans-Serif; margin: 24px 0 15px 0;}
h3{color: #545352; font: bold 14px/16px Arial, Verdana, Sans-Serif; margin: 24px 0 15px 0;}
h4{color: #000000;font: bold 18px/18px Arial, Verdana, Sans-serif;}
p{margin: 0 0 15px 0;}
a{color: #000000; text-decoration: none;}
a:hover{text-decoration: underline;}
#primary ul li{margin: 0 0 15px 0;}
dt{font-weight: bold;}
dd{margin: 0 0 15px 0;}
#primary ul{list-style: disc;}
#primary ol{list-style: decimal;}
hr{border: 0; border-top: 1px solid #f1f1f1; margin: 0 0 16px 0;}
/********************************************
          BUTTON STYLES
********************************************/
.button{
  background: url(../images/core/button-bg.gif) repeat-x;
  border: 1px solid #cfcfcf;
  color: #362f1d;
  display: inline-block;
  font: bold 12px/12px Arial, Verdana, Sans-Serif;
  padding: 9px 13px;
}
/********************************************
          TABULAR DATA STYLES
********************************************/
table tr.even{background: #fefcf6;}
table tr th{font: bold #686d78 12px/16px; text-align: left;}
table tr td{font: normal #696d78 12px/16px;}
/********************************************
          DEFAULT FORM STYLES
********************************************/
form ol li{margin: 0 0 10px 0; list-style: none;}
form ol li label{
  color: #000000;
  display: block;
  font-weight: bold;
  margin: 0 0 10px 0;
}
form ol li input{
  background: #fff;
  border: 1px solid #f1f1f1;
  font: 12px/1 arial, verdana, sans-serif;
  height: 15px;
  padding: 6px;
  width: 246px;
}
form textarea{
  border: 1px solid #f1f1f1;
  font: 12px/1.4 arial, verdana, sans-serif;
  padding: 6px;
}
form .checkbox span{
  background: url(../images/core/checkbox.gif) no-repeat;
  display: inline;
  float: left;
  height: 16px;
  width: 16px;
}
form .checkbox .checker{display: inline; float: left; margin: 0 10px 0 0;}
form .checkbox span.checked{background-position: 0 -16px;}
form .checkbox input{border: 0; width: auto;}
form input.button{
  background: url(../images/core/button-bg.gif) repeat-x;
  border: 1px solid #cfcfcf;
  color: #362f1d;
  display: inline-block;
  font: bold 12px/12px Arial, Verdana, Sans-Serif;
  height: 32px;
  margin: 15px 0 0 0;
  padding: 0 13px;
  width: auto;
}
form input#save-button { margin: 0; }
form input#save-button:hover { text-decoration: underline; cursor: pointer; }

form .uploader{
  height: 32px;
  position: relative;
}
form .uploader input{
  height: 32px;
  left: 0;
  position: absolute;
  top: 0;
  width: 345px;
}
form .uploader .filename{
  background: #fff;
  border: 1px solid #f1f1f1;
  display: inline;
  float: left;
  font: 12px/1 arial, verdana, sans-serif;
  margin: 3px 0;
  padding: 6px;
  width: 246px;
}
form .uploader .action{
  background: url(../images/core/button-bg.gif) repeat-x;
  border: 1px solid #cfcfcf;
  color: #362f1d;
  display: inline-block;
  font: bold 12px/12px Arial, Verdana, Sans-Serif;
  margin: 0 0 0 15px;
  padding: 9px 13px;
}
form .selector{position: relative;}
form .selector select{
  height: 27px;
  left: 0;
  position: absolute;
  top: 0;
  width: 260px;
}
form .selector span{
  background: url(../images/core/selector-bg.gif) right no-repeat #fff;
  border: 1px solid #f1f1f1;
  color: #333;
  display: block;
  font: 12px/1 arial, verdana, sans-serif;
  height: 15px;
  padding: 6px;
  width: 246px;
}



/********************************************
          FORM VALIDATION STYLES
********************************************/



#errorExplanation, #errors{
  background: #F3F3F3;
  border: 1px solid #005792;
  padding: 0 25px;
}
#errors{margin: 0 0 20px 0;}
#errorExplanation ul, .fieldWithErrors label, #errors p{color: #005792;}
.fieldWithErrors input, .fieldWithErrors textarea{border: 1px solid #005792;}



/********************************************
          GLOBAL SEARCH STYLES
********************************************/



#global-search{
  position: absolute;
  right: 135px;
  top: 12px;
}
#global-search a{
  background: #fff url(../images/core/search-button-bg.gif) left 1px no-repeat;
  color: #808080;
  display: block;
  padding: 5px 0 0 25px;
}
#global-search .search-terms{
  border: 1px solid #ccc;
  border-right: 0;
  color: #ccc;
  display: inline;
  float: left;
  height: 23px;
  padding: 5px 7px 5px 7px;
  width: 100px;
  border-radius: 0;
  
}
#global-search .search-button{
  background: #fff url(search-button-bg.gif) no-repeat;
  border: 1px solid #ccc;
  border-left: 0;
  display: inline;
  float: left;
  height: 23px;
  line-height: 0;
  padding: 0;
  text-indent: -9000px;
  width: 24px;
  box-shadow: none;
  border-radius: 0;
}
#global-search .search-button:hover{cursor: pointer;}
#saved-recipes-button{
  background: url(saved-recipes-bg.gif) no-repeat;
  color: #fff;
  height: 39px;
  font: 10px/12px DinLight, Verdana, Arial, Sans-Serif;
  padding: 8px 20px;
  position: absolute;
  right: -20px;
  text-decoration: none;
  width: 135px;
}
#saved-recipes-button:hover{text-decoration: underline;}
/********************************************
          NAVIGATION STYLES
********************************************/


#navigation{
  left: 155px;
  position: absolute;
  top: 63px;
  z-index: 21;
}
#navigation ul li{
  display: inline;
  float: left;
  font: bold 16px "DinLight", Sans-Serif;
  margin: 0 13px;
  position: relative;
}
#navigation ul li a{
  color: #6e6e6e;
  text-decoration: none;
}
#navigation ul li a:hover{color: #007ac2;}
#nav-products{
  background: url(../images/core/nav-dropdown-arrow.gif) no-repeat right 7px;
  padding: 0 15px 0 0;
}
#nav-products:hover{background-position: right -10px;}
#who-we-are-page #nav-who,
#product-listing-page #nav-products,
#product-detail-page #nav-products,
#recipes-listing-page #nav-recipes,
#recipes-detail-page #nav-recipes,
#media-page #nav-media,
#article-detail-page #nav-media,
#distributors-page #nav-distributors,
#contact-us-page #nav-contact,
#careers-page #nav-contact,
#submit-recipe-page #nav-contact,
#request-a-sample-page #nav-contact,
#find-us-page #nav-contact,
#navigation ul li a:hover{color: #007ac2;}
#product-listing-page #nav-products,
#product-detail-page #nav-products{background: url(../images/core/nav-dropdown-arrow.gif) no-repeat right -10px;}

/********************************************
          STATIC STYLES
********************************************/
.overlay-majestic{
position:absolute;
top:0;left:0;
width:100%;height:100%;
background:url("/images/majestic_landing.jpg") repeat;
}

/********************************************
          DROPDOWN STYLES
********************************************/



#navigation .dropdown{
  background: #fff url(../images/core/nav-dropdown-bg.gif) repeat-x;
  border: 1px solid #b6b6b6;
  display: none;
  left:-335px;
  position: absolute;
  top: 35px;
  width:990px;
  padding:0 10px 20px;
}
#navigation .dropdown .arrow{
  display: block;
  height: 9px;
  left:365px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -9px;
  width: 15px
}

#navigation ul.dropdown li.brand {
  width:227px;
  text-align:center;
  margin:0 10px;
}

#navigation ul.dropdown li.brand .logo {
  border-bottom:1px solid #b2b2b2;
  height:127px;
  display:block;
}

#navigation ul.dropdown .brand ul {
  margin-left:10px;
}

#navigation ul.dropdown .brand li {
  display:block;
  float:none;
  text-align:left;
  margin: 0;
  padding: 8px 12px;
  height:50px;
}

#navigation ul.dropdown .brand li a img {
  width:60px;
  padding-right:10px;
  float:left;
  clear:left;
}

#navigation ul.dropdown li a span{
  font: bold 16px "DinLight", Sans-Serif;
  padding-top:15px;
  width:100px;
  display:inline-block;
}



/********************************************
          HOMEPAGE BANNER STYLES
********************************************/



#home-page #banner-container{
  display: block;
  margin: 0 auto 18px auto;
  overflow: hidden;
  position: relative;
  height: 858px;
  width: 100%;
}
#home-page #banner{height: 800px; width: 100% !important;}
#home-page #banner-container .slide{
  display: block;
  height: 858px;
  width: 100%;
}
#banner a {
  display: block;
  height: 858px;
  width: 1200px;
  text-decoration:none;
}
#home-page .slide h1{color: #fff; font: 60px/54px ClarendonBold, Rockwell, Georgia, Times, "Times New Roman", serif; margin: 0;}
#home-page .slide h2{
  color: #d3b258;
  font: 18px/20px "Helvetica Neue", Arial, Verdana, sans-serif;
}
#home-page .slide .text{
  left: 0;
  position: absolute;
  top: 145px;
  width: 600px;
}
#home-page .slide .text img{margin: 0 0 10px 0;}
#home-page #banner-container #controls{
  left: 0;
  position: absolute;
  top: -260px;
  width: 220px;
  z-index: 20;
}
#home-page #banner-container #controls a{
  background: url(../images/core/controls.png) no-repeat;
  display: inline-block;
  height: 27px;
  text-indent: -9000px;
  width: 22px;
}
#home-page #banner-container #controls #pager{ margin: 0 auto; text-align:center; padding:0 10px; }
#home-page #banner-container #controls #prev{background-position: 0 0; position: absolute; left: 0; top: 0;}
#home-page #banner-container #controls #next{background-position: -61px 0; position: absolute; right: 0; top: 0;}
#home-page #banner-container #controls #pager a{background-position: -19px 0;}
#home-page #banner-container #controls #pager a.activeSlide,
#home-page #banner-container #controls #pager a:hover{background-position: -41px 0;}
#home-page #primary{background: #e1e1e1;}



/********************************************
          CTAS STYLES
********************************************/



#ctas{
  background-color:grey;;
  bottom: 0;
  display: block;
  left: 50%;
  margin: 0 0 0 -490px;
  overflow: hidden;
  padding: 12px 0;
  position: absolute;
  right: 0;
  z-index: 20;
  width: 980px;
}
#ctas ul{margin: 0 auto; width: 966px;}
#ctas .cta{
  background: #004473;
  display: block;
  float: left;
  height: 219px;
  margin: 0 3px;
  position: relative;
  width: 316px;
}
#ctas .cta a{
  display: block;
  position: relative;
}

#ctas .cta a.play:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -32px 0 0 -32px;
  height: 64px;
  width: 64px;
  background: url(/images/core/play.png) center no-repeat;
}
#ctas .cta img{
  display: block;
  margin: 0;
}
#ctas .cta h2{
  background: url(/images/core/cta-arrow.png) right center no-repeat;
  display: block;
  font: bold 16px/16px DinLight, Arial, Verdana, sans-serif;
  height: 44px;
  line-height: 44px;
  margin: 0;
  padding: 0 15px;
}
#ctas .cta h2 a{color: #fff;}
#ctas .cta p{margin: 0;}



/********************************************
          INNER PAGE BANNER STYLES
********************************************/



.inner #banner-container{
  background: #e1e1e1 url(../images/core/banner-whoweare.jpg) center top no-repeat;
  display: block;
  margin: 0 0 50px 0;
  position: relative;
  height: 180px;
}
.inner #banner{
  height: 180px;
  margin: 0 auto;
  position: relative;
  width: 940px;
}
.inner #banner h1{
  bottom: 30px;
  color: #fff;
  font: 42px/54px ClarendonBold, Rockwell, Georgia, Times, "Times New Roman", serif;
  left: 0;
  margin: 0;
  position: absolute;
}



/********************************************
          PRIMARY STYLES
********************************************/
#flashnotice { padding: 5px 10px; background: #DEEEF9; font-style: italic; color: #005792; }


.inner #primary{
  border-right: 1px solid #f1f1f1;
  border-left: 1px solid #f1f1f1;
  display: inline;
  float: left;
  padding: 0 19px;
  width: 540px;
}
.inner #primary .text img.right{margin: 0 0 0 25px;}
.inner #primary .text img.left{margin: 0 25px 0 0 ;}
.inner.products #primary,
.inner.recipes #primary{
  border-right: none;
  padding: 0 0 0 19px;
  width: 778px;
}



/********************************************
          SECONDARY STYLES
********************************************/



#secondary{
  border-top: 1px solid #f1f1f1;
  display: inline;

  float: left;
  width: 140px;
}
#secondary-nav li { position: relative; }
#secondary-nav li.header {font-weight: bold; padding: 5px 0}
#secondary-nav li a{
  border-bottom: 1px solid #f1f1f1;
  display: inline-block;
  margin: 0;
  padding: 10px 8px;
  width: 124px;
  border-bottom:2px solid white;
}
#secondary-nav li a.show_subcats {
  background: url(../images/core/secondary-nav-arrow2.png) no-repeat;
  border: 0;
  color: #818181;
  display: block;
  height: 12px;
  padding: 0;
  position: absolute;
  right: 5px;
  top: 12px;
  text-indent: -9999px;
  width: 12px;
}
#secondary-nav li a.show_subcats.open { background: url(/images/core/secondary-nav-arrow2.png) no-repeat 0 -12px; }
#secondary-nav li a.show_subcats:hover { background: url(../images/core/secondary-nav-arrow2.png) no-repeat 0 -12px; color: #818181; text-decoration: underline; }
#secondary-nav li a.show_subcats.open:hover { background: url(../images/core/secondary-nav-arrow2.png) no-repeat 0 -12px; color: #818181; text-decoration: underline; }
#secondary-nav a.brand, #secondary-nav a.all { padding-left:10px; }
#secondary-nav li a{padding: 10px 0 10px 18px; width: 130px;}
#secondary-nav li ul li a{padding: 10px 0 10px 26px; width: 114px;}
#secondary-nav li a:hover,
#secondary-nav li a.active{ text-decoration: none; background:#005792; color:white; font-weight:bold; }
#secondary-nav li a.brand.active { color:white; opacity:0.9; }
#secondary-nav li a.brand.active:hover { font-weight:bold; }
/* #secondary-nav .brand { color:white; } */
/* #secondary-nav .brand:hover { border-bottom:2px solid white; color:white; font-weight:normal; opacity:0.9; } */
#contact-us-page #general-enquiries,
#careers-page #careers,
#submit-recipe-page #submit-recipe,
#find-us-page #find-us,
#request-a-sample-page #request-a-sample,
#display-box-page #display-box{
  background: #005792;
  color: #fff;
  text-decoration: none;
}
#search{
  background: #f0f0f0;
  padding: 10px 8px;
}
#search .search-terms{
  border: 1px solid #ccc;
  border-right: 0;
  color: #ccc;
  display: inline;
  float: left;
  height: 12px;
  padding: 5px 7px 5px 7px;
  width: 80px;
}
#search .search-button{
  background: #fff url(../images/core/search-button-bg.gif) no-repeat;
  border: 1px solid #ccc;
  border-left: 0;
  display: inline;
  float: left;
  height: 24px;
  line-height: 0;
  padding: 0;
  text-indent: -9000px;
  width: 24px;
}
#search .search-button:hover {cursor: pointer;}
#filter{background: #f0f0f0; border-bottom: 1px solid #fff; display: block; margin: 30px 0 0 0;}
#filter a{
  color: #818181;
  display: block;
  font-weight: bold;
  padding: 10px;
}
#filter span {
  background:none repeat scroll 0 0 #FFFFFF;
  display:block;
  font-weight:bold;
  padding:5px 1px;
}
#filter a#filter-button{background: url(../images/core/filter-arrow.gif) 120px 16px no-repeat;}
#filter a#filter-button.active{background-position: 120px -21px;}
#filters li{
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #f0f0f0;
  margin: 0;
}
#filters li a{
  background: url(../images/core/filter-bullets.gif) 8px 13px no-repeat;
  font-weight: normal;
  padding: 10px 10px 10px 20px;
}
#filters li a.active{background-position: 8px -18px; font-weight: bold;}
#filters li ul li{margin: 0 0 0 10px;}
#cta-submit-recipe{
  background: url(../images/core/secondary-cta-bg.gif) no-repeat;
  color: #fff;
  display: block;
  font: 14px/16px DinLight, Arial, Verdana, sans-serif;
  height: 42px;
  margin: 33px 0 0 0;
  padding: 8px;
  width: 124px;
}



/********************************************
          TERTIARY STYLES
********************************************/



#tertiary{
  display: inline;
  
  float: right;
  padding: 0 0 0 20px;
  width: 200px;
}/*
    Theme Name: HTML5 Blank
    Theme URI: http://html5blank.com
    Description: HTML5 Blank WordPress Theme
    Version: 1.4.3
    Author: Swin Ideation hub team
*/
/********************************************
          GLOBAL LAYOUT STYLES
********************************************/
html{background:  #ffffff;}
body{
  background: #fefefe;
  color: #6e6e6e;
  font: 12px/16px arial, verdana, sans-serif;
}
.container{
  display: block;
  margin: 0 auto;
  position: relative;
  width:  990px;
}
#header{
  height: 90px;
  padding: 10px 0 0 0;
  z-index: 21;
}

#footer{
  background: #004D83 url(../images/core/footer-bg.gif) repeat-x;
  color: #fff;
  display: table;
  width: 100%;
  height: auto;
  margin: 80px 0 0 0;
  padding: 30px 0 0 0;
}
#home-page #footer{margin: -18px 0 0 0;}
.clear{clear: both;}
.right{display: inline; float: right;}
.left{display: inline; float: left;}
.collapse { display:none; }

/********************************************
          TYPOGRAPHY STYLES
********************************************/
h1{font: bold 24px/24px arial, verdana, sans-serif; margin: 0 0 20px 0;}
h2{color: #545352; font: bold 16px/16px Arial, Verdana, Sans-Serif; margin: 24px 0 15px 0;}
h3{color: #545352; font: bold 14px/16px Arial, Verdana, Sans-Serif; margin: 24px 0 15px 0;}
h4{font: bold 14px/14px Arial, Verdana, Sans-serif;}
p{margin: 0 0 15px 0;}
a{color: #007Ac2; text-decoration: none;}
a:hover{text-decoration: underline;}
#primary ul li{margin: 25px 25px 15px 25px;}
dt{font-weight: bold;}
dd{margin: 0 0 15px 0;}
#primary ul{list-style: disc;}
#primary ol{list-style: decimal;}
hr{border: 0; border-top: 1px solid #f1f1f1; margin: 0 0 16px 0;}
/********************************************
          BUTTON STYLES
********************************************/
.button{
  border: 1px solid #cfcfcf;
  color: #362f1d;
  display: inline-block;
  font: bold 12px/12px Arial, Verdana, Sans-Serif;
  padding: 9px 13px;
}

.text {
   
    position: relative;
    left: 30px;
    top: 0px;
    width: 600px;
    height: 610px;
    background-color: #ffffff;
  border-radius:10px;
  text-align:left;
  border-bottom:grey;
  
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 

/********************************************
          TABULAR DATA STYLES
********************************************/
table tr.even{background: #fefcf6;}
table tr th{font: bold #686d78 12px/16px; text-align: left;}
table tr td{font: normal #696d78 12px/16px;}

/********************************************
          DEFAULT FORM STYLES
********************************************/


form ol li{margin: 0 0 10px 0; list-style: none;}
form ol li label{
  color: #000;
  display: block;
  font-weight: bold;
  margin: 0 0 10px 0;
}
form ol li input{
  background: #fff;
  border: 1px solid #f1f1f1;
  font: 14px/1 arial, verdana, sans-serif;
  height: 15px;
  padding: 6px;
  width: 246px;
}
form textarea{
  border: 1px solid #0066FF;
  font: 14px/1.4 arial, verdana, sans-serif;
  padding: 6px;
}

form .checkbox span{
  background: url(../images/core/checkbox.gif) no-repeat;
  display: inline;
  float: left;
  height: 16px;
  width: 16px;
}
form .checkbox .checker{display: inline; float: left; margin: 0 10px 0 0;}
form .checkbox span.checked{background-position: 0 -16px;}
form .checkbox input{border: 0; width: auto;}
form input.button{
  background: url(../images/core/button-bg.gif) repeat-x;
  border: 1px solid #cfcfcf;
  color: #362f1d;
  display: inline-block;
  font: bold 14px/14px Arial, Verdana, Sans-Serif;
  height: 32px;
  margin: 15px 0 0 0;
  padding: 0 13px;
  width: auto;
}
form input#save-button { margin: 0; }
form input#save-button:hover { text-decoration: underline; cursor: pointer; }

form .uploader{
  height: 32px;
  position: relative;
}
form .uploader input{
  height: 32px;
  left: 0;
  position: absolute;
  top: 0;
  width: 345px;
}




/********************************************
          CONTACT FORM STYLES
********************************************/
#contact
{
  
  width:500px;
  height:300px;
  left:400px;
  margin-top:0;
  background-color:#D0D0D0;
  border-radius:10px;
  text-align:left;
  border-bottom:grey;
}
#contact ol li{clear: both; margin: 0 0 15px 0;}
#contact ol li.left, #contact ol li.right{
  clear: none;
  width: 260px;
}
#contact ol li label{color: #000;}
#contact textarea{
  height: 191px;
  width: 526px;
}
#contact .checkbox label{
  color: #2c2213;
  font-weight: normal;
}



/********************************************
          FORM VALIDATION STYLES
********************************************/



#errorExplanation, #errors{
  background: #F3F3F3;
  border: 1px solid #005792;
  padding: 0 25px;
}
#errors{margin: 0 0 20px 0;}
#errorExplanation ul, .fieldWithErrors label, #errors p{color: #005792;}
.fieldWithErrors input, .fieldWithErrors textarea{border: 1px solid #005792;}



/********************************************
          GLOBAL SEARCH STYLES
********************************************/



#global-search{
  position: absolute;
  right: 135px;
  top: 12px;
}
#global-search a{
  background: #fff url(search-button-bg.gif) left 1px no-repeat;
  color: #808080;
  display: block;
  padding: 5px 0 0 25px;
}


#global-search .search-button:hover{cursor: pointer;}

#saved-recipes-button:hover{text-decoration: underline;}


/********************************************
          
           STYLES
********************************************/


#navigation{
  display: inline;
  left: 125px;
  position: absolute;
  top: 63px;
  z-index: 21;
}
#navigation ul li{
  display: inline;
  float: left;
  font: bold 15px "DinLight", Sans-Serif;
  margin: 0 13px;
  position: relative;
}
#navigation ul li a{
  color: #6e6e6e;
  text-decoration: none;
}
#navigation ul li a:hover{color: #007ac2;}
#nav-products{
  background: url(../images/core/nav-dropdown-arrow.gif) no-repeat right 7px;
  padding: 0 15px 0 0;
}
#nav-products:hover{background-position: right -10px;}
#who-we-are-page #nav-who,
#product-listing-page #nav-products,
#product-detail-page #nav-products,
#recipes-listing-page #nav-recipes,
#recipes-detail-page #nav-recipes,
#media-page #nav-media,
#article-detail-page #nav-media,
#distributors-page #nav-distributors,
#contact-us-page #nav-contact,
#careers-page #nav-contact,
#submit-recipe-page #nav-contact,
#request-a-sample-page #nav-contact,
#find-us-page #nav-contact,
#navigation ul li a:hover{color: #007ac2;}
#product-listing-page #nav-products,
#product-detail-page #nav-products{background: url(../images/core/nav-dropdown-arrow.gif) no-repeat right -10px;}


/********************************************
          HOMEPAGE BANNER STYLES
********************************************/



 #banner-container{
  display: block;
  margin: 0 auto 18px auto;
  overflow: hidden;
  position: relative;
  height: 568px;
  width: 100%;
}

 #banner-container .slide{
  display: block;
  height: 858px;
  width: 100%;
}
#banner a {
  display: block;
  height: 788px;
  width: 1000px;
  text-decoration:none;
}
.slide h1{color: #fff; font: 60px/54px ClarendonBold, Rockwell, Georgia, Times, "Times New Roman", serif; margin: 0;}
#home-page .slide h2{
  color: #d3b258;
  font: 18px/20px "Helvetica Neue", Arial, Verdana, sans-serif;
}
 .slide .text{
  left: 0;
  position: absolute;
  top: 145px;
  width: 600px;
}
 .slide .text img{margin: 0 0 10px 0;}
 #banner-container #controls{
  left: 0;
  position: absolute;
  top: -260px;
  width: 220px;
  z-index: 20;
}
 #banner-container #controls a{
  background: url(../images/core/controls.png) no-repeat;
  display: inline-block;
  height: 27px;
  text-indent: -9000px;
  width: 22px;
}
#home-page #banner-container #controls #pager{ margin: 0 auto; text-align:center; padding:0 10px; }
#home-page #banner-container #controls #prev{background-position: 0 0; position: absolute; left: 0; top: 0;}
#home-page #banner-container #controls #next{background-position: -61px 0; position: absolute; right: 0; top: 0;}
#home-page #banner-container #controls #pager a{background-position: -19px 0;}
#home-page #banner-container #controls #pager a.activeSlide,
#home-page #banner-container #controls #pager a:hover{background-position: -41px 0;}
#home-page #primary{background: #e1e1e1;}




/********************************************
          INNER PAGE BANNER STYLES
********************************************/
 #banner-container{
  background: #e1e1e1 url(banner-whoweare.jpg) center top no-repeat;
  display: block;
  margin: 0 0 50px 0;
  position: relative;
  height: 180px;
}
#banner{
  height: 180px;
  margin: 0 auto;
  position: relative;
  width: 940px;
}
 #banner h1{
  bottom: 0px;
  color: #fff;
  font: 42px/54px ClarendonBold, Rockwell, Georgia, Times, "Times New Roman", serif;
  left: 0;
  margin: 0;
  position: absolute;
}



/********************************************
          PRIMARY STYLES
********************************************/
#flashnotice { padding: 5px 10px; background: #DEEEF9; font-style: italic; color: #005792; }


 #primary{
  border-right: 1px solid #f1f1f1;
  border-left: 1px solid #f1f1f1;
  display: inline;
  float: left;
  padding: 0 24px;
  width: 540px;
}
 #primary .text img.right{margin: 0 0 0 25px;}
 #primary .text img.left{margin: 0 25px 0 0 ;}
.products #primary,
.recipes #primary{
  border-right: none;
  padding: 0 0 0 19px;
  width: 778px;
}
/********************************************
          SECONDARY STYLES
********************************************/
#secondary{
  border-top: 0px solid #f1f1f1;
  display: inline;
  float: left;
  width: 190px;
}
#secondary-nav li { position: relative; }
#secondary-nav li.header {font-weight: bold; padding: 5px 0}
#secondary-nav li a{
  border-bottom: 1px solid #f1f1f1;
  display: inline-block;
  margin: 0;
  padding: 10px 8px;
  width: 124px;
  border-bottom:2px solid white;
}
#secondary-nav li a.show_subcats {
  background: url(../images/core/secondary-nav-arrow2.png) no-repeat;
  border: 0;
  color: #818181;
  display: block;
  height: 12px;
  padding: 0;
  position: absolute;
  right: 5px;
  top: 12px;
  text-indent: -9999px;
  width: 12px;
}
#secondary-nav li a.show_subcats.open { background: url(/images/core/secondary-nav-arrow2.png) no-repeat 0 -12px; }
#secondary-nav li a.show_subcats:hover { background: url(../images/core/secondary-nav-arrow2.png) no-repeat 0 -12px; color: #818181; text-decoration: underline; }
#secondary-nav li a.show_subcats.open:hover { background: url(../images/core/secondary-nav-arrow2.png) no-repeat 0 -12px; color: #818181; text-decoration: underline; }
#secondary-nav a.brand, #secondary-nav a.all { padding-left:10px; }
#secondary-nav li a{padding: 10px 0 10px 18px; width: 130px;}
#secondary-nav li ul li a{padding: 10px 0 10px 26px; width: 114px;}
#secondary-nav li a:hover,
#secondary-nav li a.active{ text-decoration: none; background:#005792; color:white; font-weight:bold; }
#secondary-nav li a.brand.active { color:white; opacity:0.9; }
#secondary-nav li a.brand.active:hover { font-weight:bold; }
/* #secondary-nav .brand { color:white; } */
/* #secondary-nav .brand:hover { border-bottom:2px solid white; color:white; font-weight:normal; opacity:0.9; } */
#contact-us-page #general-enquiries,
#careers-page #careers,
#submit-recipe-page #submit-recipe,
#find-us-page #find-us,
#request-a-sample-page #request-a-sample,
#display-box-page #display-box{
  background: #005792;
  color: #fff;
  text-decoration: none;
}
#search{
  background: #f0f0f0;
  padding: 10px 8px;
}
#search .search-terms{
  border: 1px solid #ccc;
  border-right: 0;
  color: #ccc;
  display: inline;
  float: left;
  height: 12px;
  padding: 5px 7px 5px 7px;
  width: 80px;
}
#search .search-button{
  background: #fff url(../images/core/search-button-bg.gif) no-repeat;
  border: 1px solid #ccc;
  border-left: 0;
  display: inline;
  float: left;
  height: 24px;
  line-height: 0;
  padding: 0;
  text-indent: -9000px;
  width: 24px;
}
#search .search-button:hover {cursor: pointer;}
#filter{background: #f0f0f0; border-bottom: 1px solid #fff; display: block; margin: 30px 0 0 0;}
#filter a{
  color: #818181;
  display: block;
  font-weight: bold;
  padding: 10px;
}
#filter span {
  background:none repeat scroll 0 0 #FFFFFF;
  display:block;
  font-weight:bold;
  padding:5px 1px;
}
#filter a#filter-button{background: url(../images/core/filter-arrow.gif) 120px 16px no-repeat;}
#filter a#filter-button.active{background-position: 120px -21px;}
#filters li{
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #f0f0f0;
  margin: 0;
}
#filters li a{
  background: url(../images/core/filter-bullets.gif) 8px 13px no-repeat;
  font-weight: normal;
  padding: 10px 10px 10px 20px;
}
#filters li a.active{background-position: 8px -18px; font-weight: bold;}
#filters li ul li{margin: 0 0 0 10px;}
#cta-submit-recipe{
  background: url(../images/core/secondary-cta-bg.gif) no-repeat;
  color: #fff;
  display: block;
  font: 14px/16px DinLight, Arial, Verdana, sans-serif;
  height: 42px;
  margin: 33px 0 0 0;
  padding: 8px;
  width: 124px;
}




/********************************************
          CONTACT FORM STYLES
********************************************/



#contact .note{display: inline; float: right;}
#contact ol li{clear: both; margin: 0 0 15px 0;}
#contact ol li.left, #contact ol li.right{
  clear: none;
  width: 260px;
}
#contact ol li label{color: #000;}
#contact textarea{
  height: 191px;
  width: 526px;
}
#contact .checkbox label{
  color: #2c2213;
  font-weight: normal;
}
#tertiary .cta{
  display: block;
  margin: 0 0 35px 0;
  position: relative;

}
#tertiary .cta h2{
  background: url(cta-heading-bg.gif) no-repeat;
  color: #fff;
  display: block;
  font: normal 20px/36px DinLight, Arial, Verdana, sans-serif;
  height: 58px;
  margin: 0 0 20px;
  padding: 8px 12px 15px 8px;
  width: 180px;
}
#tertiary .cta.image h2{
  padding: 8px 97px 15px 8px;
  width: 95px;
}
#tertiary .cta.image img{
  position: absolute;
  right: 20px;
  top: -38px;
}

#tertiary .cta a{
  padding: 5px 10px;
  margin-bottom: 10px;
  color: #000;
  display: block;
}
#tertiary .cta a:hover {
  background: #005792;
  color: #fff;
  text-decoration: none;
}


/********************************************
          LISTING STYLES
********************************************/



.listing li{
  border: 1px solid #f1f1f1;
  display: inline;
  float: left;
  height: 253px;
  margin: -1px 0 0 -1px !important;
  width: 258px;
}
.listing li a { text-align: center; color: #6c6c6c; display: block; }
.listing li a img{ display: block; margin: 0 auto 20px auto; max-width: 258px;}
.listing li a span{display: block; padding: 0 15px; text-align: center;}
.listing li a span.name{font-weight: bold;}
.listing li a:hover span{color: #007Ac2; text-decoration: underline;}



/********************************************
          DETAIL STYLES
********************************************/



.detail #extras{
  display: inline;
  float: left;
  margin: 0 18px 0 0;
  width: 300px;
}
.detail #extras #image{text-align: center; margin-bottom:20px; }
.detail #related{border: 1px solid #fff; display: block; }
.detail #related #video-button,
.detail #related #related-recipes-button,
.detail #related #related-products-button{
  background: #f0f0f0;
  display: inline;
  float: left;
  margin: 0 1px 0 0;
  padding: 10px;
}
.detail #related #video-button.active,
.detail #related #related-recipes-button.active,
.detail #related #related-products-button.active,
.detail #related #video-button:hover,
.detail #related #related-recipes-button:hover,
.detail #related #related-products-button:hover{
  background: #005792;
  color: #fff;
  text-decoration: none;
}
.detail #related ul{
  border-top: 1px solid #005792;
  clear: both;
  display: block;
  padding: 15px 0 0 0;
}
.detail #related ul li{margin: 0 0 10px 0; list-style: none;}
.detail #related ul li img{
  display: inline;
  float: left;
  margin: 0 10px 0 0;
  width: 80px;
}
.detail #related ul li a{
  color: #686d78;
  display: block;
  margin: 10px 0 0 10px;
}
.detail #related ul li a:hover{color: #007Ac2; cursor: pointer;}
.detail #related ul li a span{display: inline; float: left; width: 190px;}
.detail #related ul li a span.servings p{display: inline;}
.detail #related ul li a span.name{font-weight: bold;}
.detail #text{
  display: inline;
  float: left;
  width: 460px;
}
.detail #text span{display: block;}
.detail #notes, .detail #availability{
  width: 280px;
  margin:0;
}
.detail #storage{
  border-top: 1px solid #f1f1f1;
  margin:0;
}
#recipe.detail #ingredients{
  display: inline;
  float: left;
  margin: 0 20px 0 0;
  padding: 0 65px 0 0;
  width: 235px;
}
.detail #method{
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  margin: 20px 0;
}
#recipe.detail #info{
  border-left: 1px solid #f1f1f1;
  display: inline;
  float: left;
  padding: 0 0 0 15px;
}
.detail #comments-button, .detail #sample, .detail #print{display: inline; float: left;}
.detail #comments-button{
  background: url(../images/core/comments-button-bg.gif) no-repeat;
  border: 0;
  height: 22px;
  margin: 0 15px 0 0;
  padding: 10px 28px 0 0;
  text-align: center;
  width: 110px;
}
.detail #print{margin: 0 15px 0 0;}
.detail #comments-button.active{background-position: 0 -31px;}
.detail .addthis_toolbox{clear: both; display: block; padding: 15px 0 0 0;}

#description, #notes, #directions, #ingredients { margin: 10px 0; }

h2.comparisons { color:#005792; }
#comparisons {
  background:#f0f0f0;
  padding:20px;
  border:1px solid #005792;
  border-left:0;
  border-right:0;
  margin-bottom:30px;
}

.comparison {
  background:url(/images/core/comparison-check.gif) no-repeat;
  list-style:inside none;
  padding-left:20px;
}

.comparison p {
  margin:0;
}

.comparison p strong {
  font-size:16px;
}

#lifestyle-banner img {
  width:770px;
  margin-bottom:40px;
}



/********************************************
          NUTRITION POPUP STYLES
********************************************/



#nutrition-popup h2{
  background: url(../images/core/nutrition-info-h2-trans.png) no-repeat;
  height: 55px;
  margin: 0 0 16px 0px;
  text-indent: -9000px;
  width: 200px;
}
#nutrition-popup h1, #nutrition-popup p{padding: 0 26px;}
#nutrition-info{width: 410px; text-align: left; margin: 0 0 15px 0;}
#nutrition-info tr{display: block; padding: 5px 26px;}
#nutrition-info th{width: 185px;}
#nutrition-info td, #nutrition-info th.small{width: 125px;}
#nutrition.button { clear:right; }



/********************************************
          COMMENTS SECTION STYLES
********************************************/



#comments-section{display: block; margin: 20px 0 0 0;}
#comments .post{
  border-bottom: 1px solid #f1f1f1;
  display: block;
  margin: 0 0 15px 0;
  padding: 0 0 15px 0;
}
#comments .post span.post-details .author{font-weight: bold;}
#comments .post span.post-details .author,
#comments .post span.post-details .date{
  color: #0072bc;
  display: inline;
}
#leave-a-comment textarea{
  height: 130px;
  width: 375px;
}

#request-a-sample-page textarea{
  height: 170px;
  width: 450px;
}



/********************************************
          CONTACT FORM STYLES
********************************************/



#contact .note{display: inline; float: right;}
#contact ol li{clear: both; margin: 0 0 15px 0;}
#contact ol li.left, #contact ol li.right{
  clear: none;
  width: 260px;
}
#contact ol li label{color: #000;}
#contact textarea{
  height: 191px;
  width: 526px;
}
#contact .checkbox label{
  color: #2c2213;
  font-weight: normal;
}



/********************************************
          PROMOTIONS STYLES
********************************************/



#promotions li{
  border-bottom: 1px solid #f1f1f1;
  margin: 0 0 30px 0;
  padding: 0 0 5px 0;
}
#promotions li .thumbnail{
  display: inline;
  float: left;
  margin: 0 20px 0 0;
  text-align: center;
  width: 110px;
}
#promotion .description{
  display: inline;
  float: left;
  width: 410px;
}
#promotion .description h2{margin: 0 0 15px 0;}
a.back{
  background: url(../images/core/back-arrow.gif) center left no-repeat;
  color: #686d78;
  padding: 0 0 0 15px;
}
span.date{color: #b5b5b5;}


/********************************************
          POPUP STYLES
********************************************/

.image-popup--container{
  position:absolute;
  left:-9999px;
  top:-9999px;
}

.image-popup--wrapper{
  cursor:pointer;
  position:relative;
}

.image-popup--closer{
  position:absolute;
  top:-18px;
  right:-18px;
}

.image-popup{
  border-radius:5px;
}


/********************************************
          MEDIA STYLES
********************************************/



#media li{
  border-bottom: 1px solid #f1f1f1;
  margin: 0 0 30px 0;
  padding: 0 0 5px 0;
}
#media li .thumbnail{
  display: inline;
  float: left;
  margin: 0 20px 0 0;
  text-align: center;
  width: 110px;
}
#media .description{
  display: inline;
  float: left;
  width: 410px;
}
#media .description h2{margin: 0 0 15px 0;}
a.back{
  background: url(../images/core/back-arrow.gif) center left no-repeat;
  color: #686d78;
  padding: 0 0 0 15px;
}
span.date{color: #b5b5b5;}

#downloads-page #resources { margin: 0 0 30px 0;}
  #downloads-page #resources li { border-bottom: 1px solid #f1f1f1; margin: 0; cursor: pointer; }
#downloads-page .select_download { float: right; width: 90px; text-align: center; padding: 15px 20px 5px 0px; }
#downloads-page .select_download .checker { float: none; }
  #downloads-page form .checkbox span { float: none; display: block; margin: 0 auto 5px auto; }
  #downloads-page .select_download label { display: block; clear: both; font-size: 12px; line-height: 1; }
#downloads-page .download_desc { float: left; width: 400px; padding: 15px 0 0 20px; border-right: 1px solid #f1f1f1; }
  #downloads-page .download_desc h2 { margin: 0 0 15px 0; }

/********************************************
          VIDEOS STYLES
********************************************/



#videos li{
  border-bottom: 1px solid #f1f1f1;
  list-style: none;
  margin: 0 0 30px 0;
  padding: 0 0 5px 0;
}
#videos li .video{
  margin: 0 0 15px 0;
}



/********************************************
          CAREERS STYLES
********************************************/



#careers-listing li{
  border-bottom: 1px solid #f1f1f1;
  list-style: none;
  margin: 0 0 30px 0;
  padding: 0 0 5px 0;
}



/********************************************
          SAVED RECIPES STYLES
********************************************/



#saved-recipes{
  border-top: 1px solid #f1f1f1;
  padding: 15px 0 0 0;
}
#saved-recipes li{
  border-bottom: 1px solid #f1f1f1;
  margin: 0 0 15px 0;
  padding: 0 0 15px 0;
  position: relative;
}
#saved-recipes li img{
  display: inline;
  margin: 0 20px 0 0;
  float: left;
}
#saved-recipes .description{
  display: inline;
  float: left;
  width: 410px;
}
#saved-recipes .description h2{margin: 0 0 15px 0;}
.delete{
  background: url(../images/core/close.gif) no-repeat;
  height: 16px;
  position: absolute;
  right: 5px;
  text-indent: -9000px;
  top: 5px;
  width: 16px;
}
.delete:hover{background-position: 0 -16px;}



/********************************************
          TESTIMONIAL STYLES
********************************************/



#testimonial .testi{margin: 0 0 20px 0;}
#testimonials .logoimage { width: 150px; display: inline; float: left; margin: 0 15px 0 0; }
#testimonials .testi .text{
  background: url(../images/core/quote-bg.gif) 0 0 no-repeat;
  display: inline;
  float: left;
  padding: 0 0 0 30px;
  width: 210px;
}
#testimonials .testi span{
  color: #0072bc;
  display: block;
}
#testimonials .testi .name{font-weight: bold;}



/********************************************
          SEARCH RESULTS STYLES
********************************************/



#search-results-page .text h1{
  font-size: 20px;
  margin: 0 0 13px 0;
}
#results{
  border-top: 1px solid #f1f1f1;
  padding: 13px 0 0 0;
}
#results li{
  border-bottom: 1px solid #f1f1f1;
  margin: 0 0 13px 0;
  padding: 0 0 13px 0;
}
#results li h2{margin: 0 0 3px 0;}



/********************************************
          PROMOTIONS DETAIL PAGE STYLES
********************************************/


#promotion-detail-page #promotion-description{
  display: inline;
  float: left;
  width: 370px;
}
#new_turn_in_order{border-top: 1px solid #ededed; padding: 20px 0;}
#new_turn_in_order #product-quantities li{
  background: #fbfbfb;
  border: 1px solid #ededed;
  display: block;
  height: 80px;
  padding: 10px;
  width: 380px;
}
#new_turn_in_order #product-quantities li .product-shot{
  border: 1px solid #ededed;
  display: inline;
  float: left;
  margin: 0 10px 0 0;
  width: 80px;
}
#new_turn_in_order #product-quantities li .product-name{
  display: inline;
  float: left;
  margin: 0 0 10px 0;
  width: 260px;
}
#new_turn_in_order label.qty{
  display: inline;
  float: left;
  padding: 5px 0 0 0;
  width: 30px;
}
#new_turn_in_order input.qty{
  display: inline;
  float: left;
  width: 50px;
}
#new_turn_in_order ol li.left,
#new_turn_in_order ol li.right{clear: none; width: 260px;}



/********************************************
          DISTRIBUTORS STYLES
********************************************/



.rightColumn.map{height: 330px}
#distributor-map{
  margin: 0 0 40px 0;
}
#distributors{
  border-top: 1px solid #f1f1f1;
  padding: 15px 0 0 0;
}
#distributors li{
  border-bottom: 1px solid #f1f1f1;
  list-style: none;
  margin: 0 0 15px 0;
  padding: 0 0 15px 0;
}
#distributors h2{margin: 0 0 15px 0;}
#distributors-page #secondary #secondary-nav{
  border-top: 1px solid #f1f1f1;
  margin: 30px 0 0 0;
  float: right;
}
.ac_results {
 background: #fff;
 border: 1px solid #f0f0f0;
}
.ac_results li {
  margin: 0px;
  padding: 5px;
  display: block;
  overflow: hidden;
}
.ac_results .ac_odd{background: #fbfbfb;}
.ac_results .ac_over{background: #0062A3; color: #fff; cursor: pointer;}

div#map_div td{
  background: #fff;
  width: 6px
}

div#ysaeid{
  padding: 0 6px 0 3px;
  width: 120px
}

ul.stockistsList{margin-left:20px}



/********************************************
          DOWNLOADS FORM STYLES
********************************************/



#downloads-form .checkbox{clear: both;}



/********************************************
          GIVE AWAYS FORM STYLES
********************************************/


.give_away_desc { float:left; width:460px; }
.give_away_desc h2 { margin-top:0; }
.give_away_desc img { float:right; }
.select_give_away { float:left; width:80px; text-align:center; margin-top:25px; }
body .select_give_away .checker { float:none; display:block; margin:0; width:auto; }
body .select_give_away .checker span { float:none; display:inline-block; }

#give-aways-page #resources { margin: 0 0 30px 0;}
  #give-aways-page #resources li { border-bottom: 1px solid #f1f1f1; margin: 0; padding:10px 0; }
  #give-aways-page .select_download label { display: block; clear: both; font-size: 12px; line-height: 1; }


//********************************************
          FOOTER STYLES
********************************************/
#footer h4{color: #80b6da;}
#footer ul, #footer .container div{
  display: inline;
  float: left;
  margin: 0 0 0 20px;
}
#footer ul li{
  margin: 0 0 10px 0;
  width: 160px;
}
#footer a{
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
#footer a:hover{text-decoration: underline;}
#footer #quick-links{width: 320px; margin: 0 50px 0 20px;}
#footer #subscribe{margin: 0 50px 0 0;}
#footer #quick-links li{
  display: inline;
  float: left;
}
#footer #quick-links li.title{width: 300px;}
#footer #social-links, #footer #subscribe{width: 150px;}
#footer #social-links li a{
  display: block;
  height: 12px;
  padding: 0;
}
#footer #social-links li a img{display: inline; float: left;}
#footer #social-links li a span{display: inline; float: left; margin: 0 0 0 5px;}
#footer #subscribe h4, #footer #subscribe p{margin: 0 0 13px 0;}
#footer #global-subscribe .email{
  border: 1px solid #ccc;
  border-right: 0;
  color: #ccc;
  display: inline;
  float: left;
  height: 27px;
  padding: 5px 7px ;
  width: 100px;
  border-radius: 0;
}
#footer #global-subscribe .subscribe-button{
  background: #eccc76 url(subscribe-button.gif) no-repeat;
  border: 1px solid #eccc76;
  display: inline;
  float: left;
  height: 27px;
  line-height: 0;
  padding: 0;
  text-indent: -9000px;
  width: 27px;
  border-radius: 0;
}
#footer #global-subscribe .subscribe-button:hover {cursor: pointer;}
#footer #copyright, #footer #social-links{float: left; margin: 0 0 10px 35px; width: 300px; list-style: none;}

#earn_rewards { border: 0; margin-bottom: 10px; }
#points { width: 79px; height: 79px; line-height: 72px; font-weight: bold; margin-bottom: 14px; display: inline; text-align: center; color: #fff; font-size: 32px; background: url('/images/Points.gif'); }






/*Custom ideation hub form */
#ideation_hub input, #ideation_hub textarea { border-radius: 0;}
#ideation_hub textarea { min-height: 120px; max-width: 600px;}
#ideation_hub button {
  background: none repeat scroll 0 0 #005792;
  border: 0 none;
  border-radius: 0;
  box-shadow: none;
  color: #fff;
  font-size: 13px;
  line-height: 15px;
  max-width: 145px;
  text-shadow: none;
  float: right;
}

#ideation_hub .error { border: 1px solid red;}
.term_link { text-align: right; margin-top: 10px;}

.info { font-weight: bold;color: #000;margin: 20px 0; display: table; width: 100%;}

.half_box { font-weight: bold;color: #000;float: left; width: 50%;}
.half_box input[type="text"] {  width: 70%;}

.bc p { font-weight: bold;color: #000;text-align: left; margin: 10px 0;}
.bc p label { width: 100px; display: inline-block;}
.bc p input[type="text"] { width: 200px;}

.cc p { font-weight: bold;color: #000;text-align: right; margin: 10px 0;}
.cc p label { width: 100px; display: inline-block;}
.cc p input[type="text"] { width: 200px;}

.step2 , #business, #customer, .btn_submit{ display: none;}


/* single idea */
.single-idea .text { width: 800px;}
.single-idea .text .thumbnail { max-width: 300px; width: 300px; float: left;}
.single-idea .thumbnail .related_idea { margin-top: 50px;}
.single-idea .thumbnail .related_idea a { display: table; margin-bottom: 10px;}
.single-idea .thumbnail .related_idea a img { float: left;}
.single-idea .thumbnail .related_idea a span { line-height: 50px; float: left; margin-left: 30px; color: #6e6e6e; text-transform: capitalize; font-size: 14px;}
.single-idea .text .entry-post { float: left; width: 500px;}

.single-idea .entry-post h1 { text-transform: capitalize; margin-top: 0;}
.single-idea .entry-post  .idea-meta { margin-bottom: 15px;}
.single-idea .entry-post  .idea-meta .idate { margin-left: 40px;}